<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ta02.css" />
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is the placeholder for Team Activity 02</p>
      </div>
    </div>
    <div class="container">

      <h1>Users</h1>
      <hr>

      <div class="users-list">
        <h2>All Users</h2>

        <ul>
          <% for (let user of users) { %>
            <li><%= user %></li>
          <% } %>
        </ul>
      </div>

      <hr>

      <div class="users-manage">
        <h1>Manage Users</h1>
        <% if (error === 'UserNotFound') { %>
          <p class="error">User not found</p>
        <% } %>

        <div class="users-add">
          <h2>Add User</h2>

          <form action="/ta02/addUser" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username">

            <button class="btn" type="submit">Add User</button>
          </form>
        </div>

        <div class="users-remove">
          <h2>Remove User</h2>

          <form action="/ta02/removeUser" method="POST">
            <label for="usernameToRemove">Username:</label>
            <select name="usernameToRemove" id="usernameToRemove">
              <option></option>
              <% for (let user of users) { %>
              <option value="<%= user %>"><%= user %></option>
              <% } %>
            </select>
            <button class="btn" type="submit">Remove User</button>
          </form>
        </div>
      </div>
    </div>


</body>

</html>